@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: #edf0f1;
  background: #81b29a;
}

::selection {
  color: #edf0f1;
  background: #81b29a;
}

/* Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #141414;
  position: fixed;
	z-index: 1;
	top: 0;
	width: 100vw;
}

.logo {
  margin-right: auto;
  font-family: 'Kanit', sans-serif;
  font-size: 26px;
  color: #edf0f1;
  text-decoration: none;
}

.logo:hover{
  color: #81b29a;
  transition: all 0.5s ease 0s;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links a,
.cta,
.overlay_content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links li {
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #81b29a;
}

.cta:hover {
  background-color: #81b29a;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #141414;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay_content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #81b29a;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav_links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* About */

#description{
  margin-top: 100px;
  padding-top: 63px;
  padding-bottom: 50px;
  background-color: #141414;
}

#description h1{
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #edf0f1;
  text-align: center;
  margin-bottom: 20px;
}

.description_box{
  max-width: 1000px;
  margin: 0 auto;
}

#description h2{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 45px;
}

#display{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  border: 1px solid white;
  border-radius: 10px;
}

#acess{
  color: #81b29a;
}

#back{
  text-decoration: none;
}

#description h3{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-align: center;
  margin-top: 35px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

#back h3{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #edf0f1;
}

#back h3:hover{
  color: #81b29a;
  transition: all 0.3s ease 0s;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  padding: 50px 10%;
  background-color: black;
}

.footer_links {
  list-style: none;
  display: flex;
}

.footer_links a,
.cta,
.overlay_content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.footer_links li {
  padding: 0px 20px;
}

.footer_links li a {
  transition: all 0.3s ease 0s;
}

.footer_links li a:hover {
  color: #81b29a;
}

.cta:hover {
  background-color: #81b29a;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #81b29a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}